.card {
  text-align: center;
  overflow: hidden;
  text-align: left;
  border: none;
  min-height: 12em;
}

.card > .card-header {
  background-color: #fff;
  border: none;
  font-family: ratio, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 0;
}

.card > .card-body {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 10rem;
  font-size: 1.5em;
  padding-top: .5em;
}

.card > .card-footer {
  text-align: right;
  margin-top: 1rem;
  font-size: .75rem;
  background-color: #fff;
  border: none;
}

.blue {
  color: #0300FF;
}
